.post {
    margin-top: 20px;
    background-color: rgba(230,230,230,.5);
    padding: 10px 20px 20px 20px;
    border-radius: 12px;
    min-height: 40px;
    box-sizing: border-box;
    position: relative;
}
.post:first-child {
        margin-top: 0;
    }
.post_header {
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 4px;
    position: relative;
    box-sizing: border-box;
}
.post_owner a{
    text-decoration: none;
}
.post_owner a:hover {
    color: orange;
}
.post_time {
    white-space: nowrap;
    position: absolute;
    right: 10px;
    bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
    opacity: .0;
    transition: .2s linear;
}
.post:hover .post_time {
    opacity: .5;
    padding-bottom: 6px;
}
.post_title {
    margin-bottom: 6px;
}
.post_quick_menu {
    height: 20px;
    background: gray;
    margin: auto 0 auto auto;
    display: flex;
    gap: 10px;
    overflow: visible;
}
.quick_btn {
    height: 20px;
    width: 20px;
    background: darkcyan;
}