.ui_search_input_block {
    display: flex;
    position: sticky;
    top: 120px;
    z-index: 2;
}

.ui_search_custom_controls {
    position: relative;
    z-index: 2;
}

#im_search_block {
    position: relative;
    z-index: 2;
    width: 100%;
}

#im_dialogs_search {
    width: 100%;
    padding: 12px 12px 12px 36px;
    border: 1px transparent solid;
    /* background-image: url(../icons/search.svg); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10px 50%;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 40px;
    transition: .3s linear;
}

#search_icon {
    position: absolute;
    transform: translate(10px, 50%);
    transition: .2s linear;
}

#im_search_block:hover #search_icon {
    transform: scale(1.1) translate(9px, 45%);
}

.ui_input_field {
    background: rgba(230,230,230,.5);
    border-radius: 12px;
}

#im_dialogs_search:hover {
    border-color: var(--field-hover-dark-color);
}

#im_dialogs_search:focus {
    border-color: var(--field-focus-dark-color);
}

.ui_control_item {
    border-radius: 12px;
    height: 40px;
    width: 40px;
    background: rgba(230,230,230,.7);
    color: var(--font-dark-color);
    cursor: pointer;
    border: 1px transparent solid;
    transition: .2s linear;
}

.ui_control_item:hover {
    border-color: var(--field-hover-dark-color);
    transform: scale(1.1);
}

.ui_control_item-animated {
    color: var(--font-light-color);
    background-color: var(--font-dark-color);
    animation-iteration-count: 1;
    animation: btn_click .3s ease-in-out;
}
.user_profile {
    margin-top: 20px;
    width: inherit;
    position: sticky;
    height: 200px;
    transition: .5s linear;
    display: flex;
    gap: 20px;
    overflow: hidden;
    z-index: 13;
    top: 68px;
    background: white;
}

.user_profile-collapsed {
    height: 40px;
}

.profile_logo {
    border-radius: 30px;
    background-color: rgba(100,100,100,.2);
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    transition: .5s linear;
}

.profile_logo-collapsed {
    padding: 0;
    border-radius: 10px;
}

.profile_img {
    border-radius: 25px;
    height: 100%;
    transition: .5s linear;
}

.profile_img-collapsed {
    border-radius: 5px;
    margin: 0%;
}

.profile_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.profile_title {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 20px;
}

.profile_quick_btns {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 20px;
    margin-left: 0%;
    transition: .5s linear;
}

.profile_quick_btns-collapsed {
    margin-left: 60%;
    opacity: 0;
    pointer-events: none;
}

.profile_name {
    background-color: rgba(100,100,100,.2);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    white-space: nowrap;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: default;
}

.profile_btn {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    background-color: rgb(126, 126, 126);
    padding: 0 8px;
    border-radius: 10px;
    min-width: 40px;
    transition: .5s linear;
    cursor: pointer;
    color: rgba(230,230,230);
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.btn_title {
    margin-left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: .5s linear;
}

.profile_btn:hover {
    background-color: rgb(50, 50, 50);
}

    .profile_btn:hover .btn_logo {
        fill: rgba(230,230,230);
    }

.btn_logo {
    width: 24px;
    min-width: 24px;
    fill: rgba(230,230,230,.9);
}

.profile_info {
    background-color: rgba(100,100,100,.2);
    height: 100%;
    width: 100%;
    border-radius: 12px;
    transition: .5s linear;
}

.profile_info-collapsed {
    height: 0;
    transition: .5s linear;
}

.profile_page {
    position: sticky;
    top: 300px;
    margin-top: 20px;
    /* margin-top: 240px; */
    display: flex;
    justify-content: stretch;
    transition: .5s linear;
}

.profile_page-collapsed {
    margin-top: 100px;
    /* margin-top: 170px; */
}

.profile_stats {
    width: 200px;
    min-width: 200px;
    transition: .5s linear;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile_stats-collapsed {
    width: 0;
    min-width: 0;
    white-space: nowrap;
}

.profile_posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    content: "";
    margin: 0;
    margin-left: 20px;
    gap: 20px;
}

.profile_posts-collapsed {
    margin-left: 0px;
}

.profile_posts ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ui_search_custom_controls {
    display: flex;
    gap: 20px;
}

    

