
body{
    padding: 0;
    margin: 0;
	font-family: 'Nunito', sans-serif;
    color: var(--font-dark-color);
}
a{
    color: var(--font-dark-color);
    text-decoration: none;
}
.fixed{
    position: fixed;
}
#page_layout{
    margin: 0 auto;
    display: flex;
    width: max-content;
}
#page_layout::before{
    display: flex;
    content: "";
    margin: auto;
}
#side_bar{
    margin-top: var(--header-height);
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    transform: translateX(-230px);
    transition: .5s linear;
    /* border: 3px transparent solid;
    border-radius: 15px; */
}
.side_bar_ol{
    margin-top: 20px;
    list-style: none;
    padding: 0;
    transition: .5s linear;
}
.side_bar_menu_item{
    padding: 0 8px;
    min-width: var(--left-menu-row-height);
    height: var(--left-menu-row-height);
    display: flex;
    /* align-items: center; */
    border-radius: 10px;
    transition: .2s ease;
    margin-bottom: 10px;
    box-sizing: border-box;
}
/* .side_bar_menu_item::after{
    display: inline-flex;
    content: "";
    margin: auto;
} */
.side_bar_menu_item:hover{
    background: rgba(230,230,230,.5);
    transform: scale(1.1);
    transition: .1s ease;
}

/* ---------------------------- */
/* side_bar_menu_item animation */
/* ---------------------------- */
.side_bar_menu_item-active{
    color: var(--font-light-color);
    background: var(--font-dark-color);
}
.side_bar_menu_item-active:hover{
    background: var(--font-dark-color);
}


.side_bar_menu_item-animated{
    animation: btn_click .2s ease-in-out;
}
@keyframes btn_click {
    0%{}
    40%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1.1);
    }
}
/* ---------------------------------*/
/* side_bar_menu_item animation END */
/* ---------------------------------*/
.side_bar_menu_icon{
    display: inline-flex;
    margin: auto 0 auto 0;
}
.side_bar_menu_item_title{
    margin: auto auto auto 9px
}
#page_body{
    margin-top: var(--header-height);
    float: right;
    width: 800px;
    /* background: var(--font-dark-color); */
    height: 100%;
    z-index: 10;
    background: white;
}
#page_header_wrap{
    position: fixed;
    height: var(--header-height);
    width: 100%;
    background: rgb(230,230,230);
    z-index: 11;
}
#active_side_bar_menu_item{
    color: var(--font-light-color);
    background: var(--font-dark-color);
}
#active_side_bar_menu_item svg{
    fill: var(--font-light-color);
    fill-opacity: 1;
    stroke-opacity: 0;
    clip-rule: nonzero;
}

#sidebar_checkbox{
    margin: 0;
    appearance: none;
    transition: .5s linear;
}
#sidebar_expander div svg{
    transition: .3s linear;
}
.sidebar_expander-expanded svg{
    margin-left: 3px;
    margin-right: 2px;
    transform: rotateY(180grad);
}
#side_bar_toggle_item{
    height: min-content;
}
/* @media (prefers-color-scheme: dark) {
    #page_wrap{
        background: var(--bg-dark-color);
        color: var(--font-dark-theme-color);
    }
  } */
#iframe{
    border:none;
}






/* ----------------------------------------------------- */
/* im.html CSS */
/* ----------------------------------------------------- */
#im_page_wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#im_page_header_wrap{
    position: fixed;
    width: 100%;
    background: white;
    padding-bottom: 20px;
    z-index: 10 ;
}
#im_page_header{
    margin: 20px 20px 0 20px;
    height: 40px;
}
.ui_search_input_block{
    display: flex;
    column-gap: 20px;
}
#im_search_block{
    width: 100%;
}
#im_dialogs_search{
    width: 100%;
    padding: 12px 12px 12px 36px;
    border: 1px transparent solid;
    /* background-image: url(../icons/search.svg); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10px 50%;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 40px;
    transition: .3s linear;
}

#im_search_block:hover #search_icon{
    transform: scale(1.1) translate(9px, 45%);
}   
.ui_input_field{
    background: rgba(230,230,230,.5);
    border-radius: 12px;
}
#im_dialogs_search:hover{
    border-color: var(--field-hover-dark-color);
}
#im_dialogs_search:focus{
    border-color: var(--field-focus-dark-color);
}
.ui_control_item{
    border-radius: 12px;
    height: 40px;
    width: 40px;
    background: rgba(230,230,230,.7);
    color:var(--font-dark-color);
    cursor: pointer;
    border: 1px transparent solid;
    transition: .2s linear;
}
.ui_control_item:hover{
    border-color: var(--field-hover-dark-color);
}
.ui_control_item-animated{
    color:var(--font-light-color);
    background-color: var(--font-dark-color);
    animation-iteration-count: 1;
    animation: btn_click .3s ease-in-out;
}
/* #im_page_layout{
    margin-top: 60px;
    background: var(--field-hover-dark-color)
} */
#im_dialogs{
    margin: 80px 20px 0 20px;
    padding: 0;
    cursor: pointer;
    list-style: none;
    z-index: 5;
}
.im_dialog{
    height: 80px;
    display: flex;
    transition: .1s linear;
    border:2px transparent solid;
    box-sizing: border-box;
}
.im_dialog:hover{
    border-radius: 15px;
    background-color: rgba(230,230,230,.5);
}
.im_dialog:hover .im_dialog_content{
    border-color: transparent;
}
.im_dialog_icon{
    height: 100%;
    width: 80px;
    margin: auto 4px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%207.5a1.5%201.5%200%20100%203%201.5%201.5%200%20000-3zM7%209a3%203%200%20116%200%203%203%200%2001-6%200z%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M7.13%202c-1.61%200-2.34.14-3.08.53-.65.35-1.17.87-1.52%201.52-.4.74-.53%201.47-.53%203.08v5.74c0%201.61.14%202.34.53%203.08.35.65.87%201.17%201.52%201.52.74.4%201.47.53%203.08.53h5.74c1.61%200%202.34-.14%203.08-.53a3.64%203.64%200%20001.52-1.52c.4-.74.53-1.47.53-3.08V7.13c0-1.61-.14-2.34-.53-3.08a3.64%203.64%200%2000-1.52-1.52c-.74-.4-1.47-.53-3.08-.53H7.13zm5.74%2014.5a9.5%209.5%200%20001.63-.1%206.24%206.24%200%2000-8.99%200c.35.07.84.1%201.62.1h5.74zM4.75%203.86c.42-.22.85-.36%202.38-.36h5.74c1.53%200%201.96.14%202.38.36.38.2.69.5.9.9.21.4.35.84.35%202.37v5.74c0%201.53-.14%201.96-.36%202.38-.08.15-.17.29-.28.41a7.74%207.74%200%2000-11.71%200%202.2%202.2%200%2001-.3-.41c-.21-.42-.35-.85-.35-2.38V7.13c0-1.53.14-1.96.36-2.38.2-.38.5-.69.9-.9zM7%209a3%203%200%20116%200%203%203%200%2001-6%200zm3-1.5a1.5%201.5%200%20100%203%201.5%201.5%200%20000-3z%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -2px 1p;
}
.im_dialog_content{
    display: flex;
    flex-direction: column;
    margin: 4px 10px 4px 10px;
    width: 100%;
    border:2px transparent solid;
    border-bottom-color: rgba(230,230,230,.5);
}
.im_dialog-title{
    display: flex;
}
.im_dialog-name{
    margin: auto 0;
}
.im_dialog-tags{
    display: flex;
    margin: auto auto auto 30px;
    color: var(--font-dark-color);
}
.im_dialog-tag{
    border-radius: 8px;
    padding: 4px 10px;
    background: rgba(168, 230, 176, 0.5);
    font-size: 14px;
}
.im_dialog-time{
    opacity: .5;
    font-size: 14px;
    margin: auto 0 auto 100px;
}
.im_dialog-text-preview{
    margin: auto 0;
}
.im_dialog-preview{
    display: flex;
}
.im_dialog-who{
    align-items: center;
    display: flex;
    width: min-content;
}
:root {
    --header-height: 48px;
    --left-menu-row-height: 40px;
    --ecosystem_icon_border: 1px;
    --font-light-color: rgb(245,245,245);
    --font-dark-color: rgb(50, 50, 50);
    --font-dark-theme-color: rgb(126, 126, 126);
    --bg-light-color: rgb(245,245,245);
    --bg-dark-color: rgb(50, 50, 50);
    --field-hover-dark-color: rgb(180, 180, 180);
    --field-focus-dark-color: rgb(136, 136, 136);
}
