@using Website.ViewModels.Messenger.Preview.Base
@model Website.ViewModels.Messenger.ChatViewModel
@{
    Layout = null;

    int now = DateTime.Now.DayOfYear;
    var firstMessage = Model.History.First();
    int lastDay = firstMessage.CreatedDateTime.DayOfYear;
    string day = firstMessage.CreatedDateTime.DayOfYear + 1 == now ? "Вчера" : firstMessage.CreatedDateTime.ToString("M");
}
@if (!Model.History.Any())
{
    <li class="message none generated_message">
        <div class="message_content">
            Записей нет
        </div>
    </li>
}
else foreach (var message in Model.History)
    {
        if (lastDay != message.CreatedDateTime.DayOfYear)
        {
            <li class="message generated_message day">
                <div class="message-content">
                    @day
                </div>
            </li> 
              lastDay = message.CreatedDateTime.DayOfYear;
            day = lastDay + 1 == now ? "Вчера" : message.CreatedDateTime.ToString("M");
                
        }
        if (message is UserMessageViewModel userMessage)
            await Html.RenderPartialAsync("PrivateChat/PrivateChatMessageView", userMessage, ViewData);
        else
            await Html.RenderPartialAsync("Base/MessageView", message);



    }