@model IEnumerable<Database.DAL.Entities.Chat.ChatMessage>
@{
    Layout = null;
}
@if (!Model.Any())
{
    <li class="message-smoothpad">
        <div class="message_description">
            Записей нет
        </div>
    </li>
}
else foreach (var chatMessage in Model)
    {
        await Html.RenderPartialAsync("MessageView", chatMessage);
    }