@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h3>ABOUT</h3>

        <a href="/reg">reg</a>
        <a href="/auth">auth</a>
    </div>
</body>
</html>