@model IEnumerable<Database.DAL.Entities.Post>
@{
    Layout = null;
}
@if (!Model.Any())
{
    <li class="post-smoothpad">
        <div class="post_description">
            Записей нет
        </div>
    </li>
}
else foreach (var post in Model)
{
    Html.RenderPartial("PostView", post);
}