@model IEnumerable<Website.ViewModels.Messenger.Preview.Base.ChatPreviewViewModel>
@{
    Layout = null;
    if (!Model.Any())
    {
        <li class="chat">
            <div class="chat_preview_text">
                Нету чатов
            </div>
        </li>
    }
    else foreach (var chat in Model)
            await Html.RenderPartialAsync("Base/ChatPreview", chat);
}
