@model IEnumerable<Database.DAL.Entities.Chat.Base.Chat>
@{
    Layout = null;
    if (!Model.Any())
    {
        <li class="chats_empty">
            <div class="chat_preview_text">
                Нету чатов
            </div>
        </li>
    }
    else foreach (var chat in Model)
            await Html.RenderPartialAsync("ChatView", chat);
}
