@model Database.DAL.Entities.Messages.ChatMessage.GeneratedChatMessage
@{
    Layout = null;
}
<li id="message-@Model.Id" class="message" data-generated-message-id="@Model.Id">
    <div class="message-content">
        @Model.Text
    </div>
    @*<div class="message-sent-time">
            @Model.SentDateTime
        </div>*@
</li>