@model Website.ViewModels.Base.ConfirmMailViewModel
@{
    Layout = null;
}
<h3>Регистрация</h3>
<form asp-action="CheckMail" asp-controller="App" asp-anti-forgery="true">
    <input id="mailInput" placeholder="Почта" type="text" asp-for="MailAddress"/>
    <span id="mailAccess"></span>
    <input type="submit" value="Продолжить" />
</form>
<div asp-validation-summary="All"></div>
<script src="~/Resources/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#mailInput').on('keyup',
        function () {
            var url = "@Url.Action("IsMailExist","App")";
            var mail = document.getElementById('mailInput').value;
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    "mailAddress": mail
                },
                success:
                    function(result) {
                        var warn = document.getElementById('mailAccess');
                        if (mail == "") {
                            warn.textContent = "";
                            return;
                        }
                        if (result) warn.textContent='Занят';
                        else warn.textContent='Свободен';
                    }
            });
        });
</script>
