@model Website.ViewModels.Base.ConfirmMailViewModel
@{
    Layout = null;
}
@if (Model.IsAuth){<h3>Авторизация</h3>}
else{<h3>Регистрация</h3>}
<form asp-action="ConfirmMail" asp-controller="App" asp-anti-forgery="true">
    <input type="hidden" asp-for="IsAuth"/>
    <div>
        <input id="mailInput" placeholder="Почта" type="text" asp-for="MailAddress"/>
        @if (!Model.IsAuth)
        {
            <span id="mailAccess"></span>
        }
    </div>
    <input type="submit" value="Продолжить"/>
</form>
@if (Model.IsAuth)
{<a href="/app/reg">Регистрация</a>}
else{<a href="/app/auth">Авторизация</a>}
<div asp-validation-summary="All"></div>

@if (!Model.IsAuth)
{
    <script src="~/Resources/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $('#mailInput').on('keyup',
            function () {
                var url = "@Url.Action("IsMailExist","App")";
                var mail = document.getElementById('mailInput').value;
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        "mailAddress": mail
                    },
                    success:
                        function(result) {
                            var warn = document.getElementById('mailAccess');
                            if (mail == "") {
                                warn.textContent = "";
                                return;
                            }
                            if (result) warn.textContent='Занят';
                            else warn.textContent='Свободен';
                        }
                });
            });
    </script>
}
