@model Website.ViewModels.AuthorizationViewModel
@{
    Layout = null;
}
<h3>Авторизация</h3>
<form asp-action="EnterPassword" asp-controller="App" asp-anti-forgery="true">
    <input type="hidden" asp-for="IsAuth" />
    <input type="hidden" asp-for="MailAddress" />
    <input placeholder="Пароль" type="text" asp-for="Password" />
    <input type="submit" value="Войти" />
</form>
<div asp-validation-summary="All"></div>