@model Database.DAL.Entities.Post
@using static Website.Infrastructure.Converters.TimeOfAdditionConverter
@{
    Layout = null;
}
@if (Model != null)
{
    <li class="post">
        <div class="post_header">
            <div class="post_owner">
                <a href="/profile?id=@Model.OwnerId">
                    @Model.Owner.Name
                </a>
            </div>
            <div class="post_quick_menu">
                <div class="quick_btn">
                </div>
                <div class="quick_btn">
                </div>
                <div class="quick_btn">
                </div>
            </div>
        </div>
        @if (!String.IsNullOrWhiteSpace(Model.Title))
        {
            <div class="post_title">
                @Model.Title
            </div>
        }
        <div class="post_description">
            @Model.Description
        </div>
        <div class="post_time">
            @Convert(Model.CreationDateTime)
        </div>
    </li>
}