@{  
    Layout = null;      
}
<div class="modal_background close-modal">
</div>
<div class="modal_content">
    <div class="modal_close close-modal" title="Close">
        <i class='bx bx-x'></i>
    </div>

    <h1 class="modal_title">Создать новый пост</h1>
    <p class="modal_description">Введите параметры</p>
    
    <form>
        <input placeholder="Заголовок" />
        <textarea placeholder="Текст"></textarea>
        <input class="modal_button" type="submit" value="Создать"/>
    </form>
    @*<div class="modal_button-link close-modal">
        Закрыть
    </div>*@
</div>

