<link rel="stylesheet" href="~/Resources/css/modal.css" />

<div class="modal_background close-modal">
</div>
<div class="modal_content">
    <div class="modal_close close-modal" title="Close">
        <i class='bx bx-x'></i>
    </div>

    <img src="assets/img/star-trophy.png" alt="" class="modal_img">

    <h1 class="modal_title">Добро пожаловать</h1>
    @*<p class="modal_description">Click the button to close</p>*@

    @*<button class="modal_button modal_button-width">
        View status
    </button>*@

    <div class="modal_button-link close-modal">
        Закрыть
    </div>
</div>


<script src="~/Resources/js/modal.js"></script>
