<link rel="stylesheet" href="~/Resources/css/modal.css" />
<link rel="stylesheet" href="~/Resources/css/neumorphism.css" />
<style>
    .bg {
        background: #e3e3e3;
    }
    body {
        margin: 0;
    }
</style>
<div class="modal_background bg" style="border-radius: 20px;">
</div>
<div class="modal_content neo bg">
    <h1 class="modal_title">Технические работы</h1>
    <p class="modal_description">Ведутся работы по верстке</p>
    @*<a class="modal_button-link" href="/profile">Профиль</a>
    <a class="modal_button-link" href="/messenger/chats">Чаты</a>
    <a class="modal_button-link" href="/friends">Друзья</a>*@
    @*<a class="modal_button-link" href="/about/"></a>*@
</div>

<script src="~/Resources/js/modal.js"></script>
<script src="~/Resources/js/neumorphism.js"></script>
<script>
    //showModal('page_modal_wrap');
</script>
