@{
    Layout = null;
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap">
<div id="page_modal_wrap" class="modal_container">
    @Html.Partial("~/Views/Modals/AuthenticateWarning.cshtml")
</div>