@model Website.ViewModels.AuthorizationViewModel
@{
    Layout = null;
}
<h3>Авторизация</h3>
<form id="auth-form" asp-action="EnterPassword" asp-controller="Authenticate" asp-anti-forgery="true">
    <input type="hidden" asp-for="IsAuth" />
    <input type="hidden" asp-for="MailAddress" />
    <input placeholder="Пароль" type="text" asp-for="Password" />
    <input onclick="ConfirmPassword()" type="submit" value="Войти" />
</form>
